version: "3"
services:
  code-server:
    build:
      context: .
    container_name: code-server-smelly-code
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/London
      - PASSWORD=password
      - SUDO_PASSWORD=password
      - DEFAULT_WORKSPACE=/config/workspace/group1
    ports:
      - "80:8443"
    restart: unless-stopped
